<script type="text/javascript">
dojo.addOnLoad(function(){ 
    var {{id}}_store=new dojox.data.QueryReadStore({ url: "/dojango/disp/{{app_name}}/{{model_name}}" });
    var {{id}}_layout=[
     {% for x in headers %}
         {field:"{{x.attname}}", name:"{{x.label|safe|capfirst}}", 
          width: "{{x.width}}" {% if x.formatter %}, formatter: {{x.formatter}} {% endif %}  },
     {% endfor %}
    ];
    var {{id}}= new dojox.grid.DataGrid({
     jsid: '{{id}}', id:'{{id}}',
     store: {{id}}_store, structure:{{id}}_layout,
    {% if query %}
     query: {{query|safe}}
    {% endif %}
   });
   dijit.byId("{{id}}_container").attr('content',{{id}}.domNode);
   {{id}}.startup();
});

{% if search_fields %}
    var {{id}}_last = "";
    function do_{{id}}_search(el) {
        if (el.value!={{id}}_last) {
            {{id}}_last = el.value;
            dijit.byId("{{id}}").filter( {
                search:el.value, search_fields: '{{search_fields}}',
                {% for k, v in query.items %}  '{{k}}':'{{v}}', 
                {%endfor%} 
                },true );
        }
    }
{% endif %}
</script>
{% if search_fields %}<div dojoType="dojox.layout.ContentPane" style="width:{{width}};height:20px" >&nbsp;Search:<input style="border:solid 1px #ccc;margin-left:10px" type=text onkeyup="do_{{id}}_search(this)" /></div>{% endif %}
<div id="{{id}}_container" dojoType="dojox.layout.ContentPane" style="width:{{width}}; height:{{height}}"></div>